<div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
  <div class="flex items-center space-x-5">
      <%= link_to "Cool Demo", root_path, class: "text-2xl font-bold text-gray-900" %>
  </div>
</div>
